*{
    margin: 0;
    padding: 0;
}

:root {
    --lengte: 6em;
    --rood: red;
    --blauw: blue;
    --wit: white;
    --geel: yellow;
    --groen: green;
    --oranje: orange;
}

ul {
    list-style-type: none;
}

/* Cube Container  */
main > ul {
    display: grid;
    place-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 30em;

}

main ul li{
    position: absolute;
    transform-style:preserve-3d;
}

main ul li ul {
    /* position: absolute; */
    list-style-type: none;
    width:var(--lengte);
	height:var(--lengte);
    transform-style:preserve-3d;
    transform: rotate3d(1,1,1, 0deg);
}

main ul li ul li {
    position: absolute;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    opacity: .5;
}

/* Front */
main ul li ul li:nth-of-type(1){
    background-color: #ff04;
    transform: translateZ(calc(var(--lengte) / 2));
}

/* Back */
main ul li ul li:nth-of-type(2){
    background-color: #f004;
    transform: translateZ(calc(var(--lengte) / -2));
}

/* bottom */
main ul li ul li:nth-of-type(3){
    background-color: #fff4;
    transform: rotateX(.25turn) translateZ(calc(var(--lengte) / -2));
    
}

/* top */
main ul li ul li:nth-of-type(4){
    background-color: #f0f4;
    transform: rotateX(-.25turn) translateZ(calc(var(--lengte) / -2));
}

/* right */
main ul li ul li:nth-of-type(5){
    background-color: purple;
    transform: rotateY(.25turn) translateZ(calc(var(--lengte) / -2))
    
}

/* left */
main ul li ul li:nth-of-type(6){
    background-color: pink;
    transform: rotateY(-.25turn) translateZ(calc(var(--lengte) / -2))
}

/* rechts voor hoek */
main ul li:nth-of-type(1){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte)), calc(var(--lengte) * -1), calc(var(--lengte )))
}

/* rechts achter hoek */
main ul li:nth-of-type(2){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte)), calc(var(--lengte) * -1), calc(var(--lengte) * -1))
}

/* links voor hoek */
main ul li:nth-of-type(3){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) * -1), calc(var(--lengte )))
}

/* links achter hoek */
main ul li:nth-of-type(4){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) * -1), calc(var(--lengte ) * -1))
}

/* links voor onder hoek */
main ul li:nth-of-type(5){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) ), calc(var(--lengte )))
}

/* rechts voor onder hoek */
main ul li:nth-of-type(6){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) ), calc(var(--lengte) ), calc(var(--lengte )))
}

/* rechts achter onder hoek */
main ul li:nth-of-type(7){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) ), calc(var(--lengte) ), calc(var(--lengte ) * -1))
}

/* links achter onder hoek */
main ul li:nth-of-type(8){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) ), calc(var(--lengte ) * -1))
}

/* rechts onder midden */
main ul li:nth-of-type(9){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 1), calc(var(--lengte) ), calc(var(--lengte ) * 0))
}

/* rechts boven midden */
main ul li:nth-of-type(10){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 1), calc(var(--lengte) * -1 ), calc(var(--lengte ) * 0))
}

/* links onder midden */
main ul li:nth-of-type(11){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) ), calc(var(--lengte ) * 0))
}

/* links boven midden */
main ul li:nth-of-type(12){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) * -1 ), calc(var(--lengte ) * 0))
}

/* voor onder midden */
main ul li:nth-of-type(13) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * 1 ), calc(var(--lengte ) * 1));
}

/* voor midden midden */
main ul li:nth-of-type(14){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * 0 ), calc(var(--lengte ) * 1));
}

/* voor boven midden */
main ul li:nth-of-type(15){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * -1 ), calc(var(--lengte ) * 1));
}

/* achter onder midden */
main ul li:nth-of-type(16) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * 1 ), calc(var(--lengte ) * -1));
}

/* achter midden midden */
main ul li:nth-of-type(17){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * 0 ), calc(var(--lengte ) * -1));
}

/* achter boven midden */
main ul li:nth-of-type(18){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * -1 ), calc(var(--lengte ) * 01));
}

/* links achter midden */
main ul li:nth-of-type(19) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) *0 ), calc(var(--lengte ) * -1));
}

/*links midden midden */
main ul li:nth-of-type(20){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) * 0 ), calc(var(--lengte ) * 0));
}

/* links voor midden */
main ul li:nth-of-type(21) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * -1), calc(var(--lengte) * 0 ), calc(var(--lengte ) * 1));
}

/* rechts achter midden */
main ul li:nth-of-type(22) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 1), calc(var(--lengte) *0 ), calc(var(--lengte ) * -1));
}

/* rechts midden midden */
main ul li:nth-of-type(23){
    transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 1), calc(var(--lengte) * 0 ), calc(var(--lengte ) * 0));
}

/* rechts voor midden */
main ul li:nth-of-type(24) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 1), calc(var(--lengte) * 0 ), calc(var(--lengte ) * 1));
}

/* boven midden midden */
main ul li:nth-of-type(25) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * -1 ), calc(var(--lengte ) * 0));
}

/* boven midden achter*/
main ul li:nth-of-type(26) {
	transform: rotateX(0) rotateY(0) rotateZ(0) translate3d(calc(var(--lengte) * 0), calc(var(--lengte) * -1 ), calc(var(--lengte ) * -1));
}

